/* html {
    height: 100vh;
} */
/* Remover os bang padrão */
body {
    padding: 0;
    margin: 0;
    background-color: black;
    transition: background-color 2s;
}

#arena {
    width: 80%;
    height: 50vh;

    border: 1px solid red;

    margin: 0px auto;
    margin-top: 100px;
    position: relative;

    transition: all 2s;
}

footer {
    font-weight: bold;
    font-size: 2.0rem;
    position: absolute;
    color: white;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    text-align: center;
}